*{
	background-color:rgb(204, 204, 204)
}
.headings{
	text-align : center;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
}

.player_one{
	background-color: rgb(255, 255, 255); 
	padding : 50px; 
	border-radius : 10% ;
}

.player_two{
	background-color: rgb(255, 255, 255); 
	padding : 50px; 
	border-radius : 10% ;
}